#!/bin/bash

RASPBERYWEATHER_ROOT="/home/pi"

## Dump database into ~mongodb-backups ##
mongodump -db weather --out /home/pi/mongodb-backups
MONGO_DUMP_STATUS=$?

## Backup home directory with restic, excluding dot files/folders ##
RESTIC_REPOSITORY="rclone:liam-storj-space:raspberryweather-backups" \
RESTIC_PASSWORD="{{ raspberryweather_backups_restic_repo_pass }}" \
restic backup $RASPBERYWEATHER_ROOT --pack-size=60 --exclude "$RASPBERYWEATHER_ROOT/.*" \
-o rclone.args="serve restic --stdio --b2-hard-delete --config {{ rclone_config_path }}"

RESTIC_UPLOAD_STATUS=$?

## Send ifttt_message to alert backup status ##
## Add the two return codes, and they should still be 0 if the two commands were successful ##
if [ $(($MONGO_DUMP_STATUS+$RESTIC_UPLOAD_STATUS)) -ne 0 ]; then
    ifttt_message  -s "error" -t "Backup failed" -m "Backup proccess failed on $HOSTNAME"
    exit 1
fi
ifttt_message  -s "backup-completed" -t "Backup completed" -m "Backup completed successfully on $HOSTNAME"